extends default

block content
  div.container
    each figure in profiles
      div.figure
        div.figure-image(style=`background: url('/images/${figure.imgSrc}') top center
        no-repeat; background-size: cover;`)
        h2.figure-name
          | #{figure.firstname} #{figure.lastname}
        a(href=`/profile?id=${figure.id}`)
          | View Profile